.main_container{
        background-color: aliceblue;
        top: 0;
        left: 0;
        font-size: 30px;
        text-align: center;
        padding: 20px;
        font-family: Verdana;
        position: fixed;
        width: 100%;
    }

#cntr_a{
    text-decoration: none;
    
}