html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: #e6e6ff;
    border: 3.5px solid #0f0f0f;
    border-radius: 5px;
    margin: 10px;
}

/* ---Cover page------- */

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-heading span{
    color: #4745d1;
    font-size: 1.5rem;
}
.blog-heading h3{
    font-size: 3.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 3px solid #000000;
    margin: 20px 20px;
    border-radius: 10px;

}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #4745d1;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #4745d1;
    transition: all ease 0.3s;
}


@media(max-width:1250px){

    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}

@media(max-width:550px){

    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}

/* Main content */

.Main-Foss{
    
    margin-top: 100px;
    
}

.Main-Foss h4{
    font-size: 2.3rem;
    background-color: #c0c0ff;
    border-left: 8px solid #4745d1;
    padding: 10px;
    text-align: center;
}

.Main-Foss span{
    color: #4745d1;
    margin-bottom: 2px;
    margin-left: 8px;
    text-align: center;
}

.Main-Foss p{
    font-size: 26px;
    margin: 20px;
    border: 3px solid #0f0f0f;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

/* footer---- */

footer{
    background-color: #272727;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 30px;
}

/* nabbutton */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up a{
    background-color: #ffffff;
    border: 3px solid   #0f0f0f;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    position:fixed;
    bottom: 30px;
    right: 19px;
    font-size: 1.3rem;
}

.up i{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}